/* Appliquer un padding aux boutons pour une apparence cohérente */
.button {
    -fx-padding: 10px;
}

/* Appliquer des marges égales entre les boutons */
.hbox > .button {
    -fx-margin: 10px;
}

/* Centrer les éléments à l'intérieur du HBox */
.hbox {
    -fx-alignment: center;
}
